<h1>About us</h1>
<p> We are offering you a platform to meet people from all around the world, from which you can learn and also deeply connect with. We want to promote connections between the oldest and younger from now on through our interface so that learning and education unfolds in complete new way by revolutionizing how we link up with people and WHO we link up to. Our purpose is to challenge your beliefs, knowledge and make it more thoughtful and mindful by allowing you to meet and develop relationships with people you thought you would never become friends with.</p>
